*{
    margin: 0;
    font-family: sans-serif;
}
$mycolor:grey;
$bluecolor:#217BF4;
$bgcolor:#c9ddf7;
@mixin sections{
    display: flex;
    align-items: center;
    justify-content: center;
  
    gap:150px;
    margin-top: 20px;
}
@mixin texts{
     display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    .mid{
        display: flex;
        gap:20px;
    }
    .pp{
        color:$mycolor;
    }
    button{
        padding:15px;
        border-radius: 10px;
        border: none;
         color:$mycolor;
    }
}
.section1{
  @include sections;
  background:linear-gradient(to bottom right,white,#D4E7FE);
  .left{
    @include texts;
    margin-left: 100px;
    .netw{
        color:$bluecolor;
        padding:10px 10px;
        width:30%;
        border-radius: 10px;
        background-color: $bgcolor;
    }
    p{
        color:$mycolor;
    }
    h1{
        font-size: 56px;
    }
        button{
           padding:15px;
           border-radius: 10px;
        }
        .btn1{
            background-color: $bluecolor;
            color:white;
            border: 2px solid $bluecolor;
            font-weight: 600;
        }
    .btn2{
        color:$bluecolor;
        border: 2px solid $bluecolor;
        font-weight: 600;
    }
  }
}
.section2{
    @include sections;
    p{
        color: $mycolor;
    }
    .groups{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .left2{
       @include texts;
    }
    .right2{
        position: relative;
        display: flex;
        gap:15px;
        .fl{
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }
    }
}
.row{
    
    gap:20px;
    @include sections;
    .card{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgb(205, 204, 204);
        border: 1px solid rgb(183, 180, 180);
      p{
        color:$mycolor;
      } 
      h4{
        color:$bluecolor
      } 
    }
    .card1{
        @extend .card;
        box-shadow: none;
        border: none;
        h3{
            color:$bluecolor;
        }
        .btn{
           background-color: $bluecolor;
            color:white;
            border: 2px solid $bluecolor;
            font-weight: 600;
            padding: 15px;
            border-radius: 10px;
            width: 40%;; 
        }
    }
}
.section3{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #edf4fc;
    padding: 20px;
    .tx{
        @include texts;
        justify-content: center;
        align-items: center;

        h4{
            color: $bluecolor;
        }
        p{
            color: $mycolor;
            text-align: center;
        }
    }
    .main{
display: flex;
flex-direction: column;
row-gap: 20px;

    
    .row3{
@include sections;
gap:40px;
margin-top: 20px;

.card3{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
   
    .inf{
        @include texts;
        p{
            color:$mycolor;
        }
    }
}
    }
    }
}